# Problem Set 1

In [ ]:
import math

###Question 1

In [11]:
Expressions = [5, 5.0, 5>1, '5', 5*2, '5'*2, '5'+'2', 5/2, 5//2, [5,1,1], 5 in [1,4,6], math.pi]

for i in Expressions:
  print(i,'->\t',type(i))

5 ->	 <class 'int'>
5.0 ->	 <class 'float'>
True ->	 <class 'bool'>
5 ->	 <class 'str'>
10 ->	 <class 'int'>
55 ->	 <class 'str'>
52 ->	 <class 'str'>
2.5 ->	 <class 'float'>
2 ->	 <class 'int'>
[5, 1, 1] ->	 <class 'list'>
False ->	 <class 'bool'>
3.141592653589793 ->	 <class 'float'>

###Question 2

####a)

In [ ]:
s = "Supercalifragilisticexpialidocious"
print(f"Number of letters:", len(s))

Number of letters: 34

####b)

In [ ]:
if 'ice' in s:
  print("ice is substring in",s)

ice is substring in Supercalifragilisticexpialidocious

####c)

In [ ]:
Words = ['Supercalifragilisticexpialidocious', 'Honorificabilitudinitatibus', 'Bababadalgharaghtakamminarronnkonn']
Lengths = [len(i) for i in Words]
MaxLength = max(Lengths)
print('Biggest ->',Words[Lengths.index(MaxLength)])

Biggest -> Supercalifragilisticexpialidocious

In [ ]:
'''
# Find all longest words
MaxLength = max(Lengths)
Longest = [i for i, j in enumerate(Lengths) if j == MaxLength]
print([Words[i] for i in Longest])
'''

['Supercalifragilisticexpialidocious', 'Bababadalgharaghtakamminarronnkonn']

####d)

In [ ]:
Composers = [ 'Berlioz', 'Borodin', 'Brian', 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein']
print('First in Dictionary:', min(Composers))
print('Last in Dictionary:', max(Composers))

First in Dictionary: Bartok
Last in Dictionary: Buxtehude

###Question 3

####a)

In [ ]:
def inside(x,y,x1,y1,x2,y2):
  if x>x1 and x<x2 and y>y1 and y<y2:
    return True
  else: return False

print(inside(1,1,0.3, 0.5, 1.1, 0.7))
print(inside(1, 1, 0.5, 0.2, 1.1, 2))

False
True

####d)

In [ ]:
if inside(1,1,0.3, 0.5, 1.1, 0.7) and inside(1, 1, 0.5, 0.2, 1.1, 2):
  print("Lies in both")
else: print("Doesn't lie in both")

Doesn't lie in both

###Question 4

In [ ]:
def pig(word):
  vowels = ['a', 'e', 'i', 'o', 'u']
  word = word.lower()
  if word[0] in vowels:
    return word+'way'
  else:
    firstLetter, word = (word[0], word[1:])
    return word + firstLetter + 'ay'

print(pig('League'))
print(pig('Angel'))

eaguelay
angelway

###Question 5

In [29]:
def bldcount(file):
    bloodTypes = []
    typeCounts = []
    f = open(file,'r')
    contentList = f.readlines()                   # Reading all lines
    contentList = contentList[0][:-2].split(" ")  # Splitting data by space and removing newline character from last
    bloodTypes = list(set(contentList))           # Getting unique values with set()

    for i in bloodTypes:                          # Making count list of each bloodtype
        count = contentList.count(i)
        typeCounts.append(count)
    for i in range(len(bloodTypes)):              # Reporting Bloodtype counts of each type
        if typeCounts[i] == 0:
            print("There are {} patients of blood type {}.".format("no", bloodTypes[i]))
        elif typeCounts[i] == 1:
            print("There is {} patients of blood type {}.".format("one", bloodTypes[i]))
        else:
            print("There are {} patients of blood type {}.".format(typeCounts[i], bloodTypes[i]))
    f.close()


bldcount("bloodtype1.txt")

There are 15 patients of blood type A.
There are 13 patients of blood type AB.
There is one patients of blood type B.
There are 15 patients of blood type O.

###Question 6

In [83]:
def curConv(cur, amount):
    Rates = {}
    file = "currencies.txt"
    with open(file,'r') as f:
        content = f.readlines()
    for i in range(len(content)):                      # Preparing Dictionary with country codes as keys and rate as value
        content[i] = content[i].split("\t")
        Rates[content[i][0]] = float(content[i][1])
    print(Rates[cur]*amount)                           # Printing amount*rate for converted amount in USD

curConv('EUR', 1000)
curConv('JPY', 5000)

1229.6544000000001
62.070049999999995

###Question 7

In [78]:
import math
l = list(range(10))

#print(6 + ‘a’)           #  SyntaxError

#print(l[12])             #  IndexError

#print(math.sqrt(-10.0))  #  ValueError

#print(undef_var)         #  NameError

#f = open("no_file.txt")  #  FileNotFoundError

###Question 8

In [90]:
def frequencies(string):
    letters = 'abcdefghijklmnopqrstuvwxyz'
    letters = list(letters)
    freq = []                                           # List to store letter counts for each letter

    for i in letters:
        freq.append(string.count(i))                    # countingand appending count of each letter in string
    return freq

print(frequencies("The quick brown fox jumps over the lazy dog"))

[1, 1, 1, 1, 3, 1, 1, 2, 1, 1, 1, 1, 1, 1, 4, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1]

###Question 9

In [3]:
def sieve(num):
    primeL = []
    fs = 0                        # First Number in the numList list
    numList = list(range(2,num))

    while(True):
        numListTemp = []
        primeL.append(numList[0])
        fs = numList[0]

        for i in numList:
            if i%fs == 0:         # Check Divisibility
                numListTemp.append(i)
        numList = [i for i in numList if i not in numListTemp]      # Get intersection of 2 lists, a way to remove multiples
                                                                    # https://stackoverflow.com/questions/4211209/remove-all-the-elements-that-occur-in-one-list-from-another

        if len(numList) == 0:     # Run till length of list numList becomes 0
            return primeL


print(sieve(50))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

###Question 10

In [8]:
import math

def triangleArea(a,b,c):
    s = (a+b+c)/2
    area = math.sqrt(s*(s - a)*(s -b)*(s -c))
    return area

triangleArea(4,8,5)

8.181534085976786